@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap");
/* for our website body start code  */
/* react code public css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#website-body {
  width: 375px;
  /* height: 100vh; */
  background-color: #0d6efd;
}
/* react code public css end */
/* for our website body End code  */

/* Wellcome section start for our visitors */
#wellcome {
  background-color: #0d6efd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wellcome img {
}
/* Wellcome section End for our visitors */

/* get start section start| slider */
#getStart {
  background: #0464f1;
  position: relative;
  height: 100vh;
}
#getStart #demo {
  height: 100vh;
}
#getStart #demo .carousel-indicators {
  bottom: 120px;
}
#getStart #demo .carousel-indicators button {
}
#getStart #demo .carousel-inner {
}
#getStart #demo.carousel-inner .carousel-item {
}

#getStart #demo .carousel-inner .carousel-item-1 {
}
/* #getStart #demo .carousel-inner .carousel-item-1 img {
} */
#getStart #demo .carousel-inner .carousel-item-1 {
}
#getStart #demo .carousel-inner .carousel-item-1 h3 {
}
#getStart #demo .carousel-inner .carousel-item-1 p {
}

#getStart #demo .carousel-inner .carousel-item-2 {
}
/* #getStart #demo .carousel-inner .carousel-item-2 img {
} */
#getStart #demo .carousel-inner .carousel-item-2 {
  margin-top: 70px;
  height: 500px;
}
#getStart #demo .carousel-inner .carousel-item-2 h3 {
}
#getStart #demo .carousel-inner .carousel-item-2 p {
}

#getStart #demo .carousel-inner .carousel-item-3 {
}
/* #getStart #demo .carousel-inner .carousel-item-3 img {
} */
#getStart #demo .carousel-inner .carousel-item-3 {
}
#getStart #demo .carousel-inner .carousel-item-3 h3 {
}
#getStart #demo .carousel-inner .carousel-item-3 p {
}

/* #getStart #demo .carousel-inner .carousel-item img {
} */
#getStart #demo .carousel-inner .carousel-item .shoesImg {
  margin-top: -4px;
  margin-left: 20px;
}
#getStart #demo .carousel-inner .carousel-item-1 .vector {
  /* background: green; */
  margin-top: -409px;
  color: white;
  /* font-weight: 900; */
  width: 127%;
}
#getStart #demo .carousel-inner .carousel-item-2 .vector {
  /* background: green; */
  margin-top: -147px;
  color: white;
  /* font-weight: 900; */
  width: 127%;
}
#getStart #demo .carousel-inner .carousel-item-3 .vector {
  /* background: green; */
  margin-top: -409px;
  color: white;
  /* font-weight: 900; */
  width: 127%;
}
#getStart #demo .carousel-inner .carousel-item .draw {
}
#getStart #demo .carousel-inner .carousel-item .shedow {
  /* background: yellow; */
  position: relative;
  top: -192px;
  left: 32px;
  right: 50;
}
/* #getStart #demo .carousel-inner .carousel-item .carousel-caption {
} */
#getStart #demo .carousel-inner .carousel-item .getStartOneCaption {
  top: 87px;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  text-transform: uppercase;
  color: #ececec;
}
#getStart #demo .carousel-inner .carousel-item .getStartSecondCaption {
  botton: 90 !important; /* padding-top: 14rem !important; */ /* color: green; */ /* background: yellow; */ /* z-index: 10; */
  top: 270px;
}
#getStart #demo .carousel-inner .carousel-item .getStartthirdCaption {
  top: 337px;
}
#getStart #demo .carousel-inner .carousel-item .carousel-caption h3 {
}
#getStart #demo .carousel-inner .carousel-item .carousel-caption p {
}

#getStart #demo .carousel-control-next {
  left: 5%;
  top: auto;
  right: 5%;
  bottom: 31px;
  background: #ffffff;
  width: 90%;
  height: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 44px;
  color: black;
  opacity: 1;
  border-radius: 16px;
}
#getStart #demo .carousel-control-next:hover {
  opacity: 0.7;
}

/* get start section end| slider */

/* sign in page start */
#signIN {
  height: 100vh;
  position: relative;
  padding: 30px;
  background: #fff;
}
#signIN .backFromSignInPage {
  margin-top: 0px;
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
}
#signIN .backFromSignInPage i {
  outline: none;
}
#signIN .signInText h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #2b2b2b;
  margin-top: 20px;
}
#signIN .signInText p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  text-transform: capitalize;
  color: #707b81;
}
#signIN form {
}
#signIN form .recovaryPassword {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  text-align: right;

  /* Light/Sub Text Color */
  color: #707b81;
}
#signIN form div {
}
#signIN form div label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  color: #2b2b2b;
}
#signIN form div label input {
}
#signIN form div label input {
  width: 100%;
  margin: 20px 0px;
  padding: 16px 57px 16px 14px;
  background: #f7f7f9;
  border-radius: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-transform: lowercase;
  color: #6a6a6a;
  opacity: 0.6;
  outline: none;
  border: none;
}
#signIN form .btn-singIn {
  background: #0d6efd;
  border-radius: 14px;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
}
#signIN form .btn-singIn-google {
  background: #f7f7f9;
  border-radius: 14px;
  width: 100%;
  padding: 12px;
  border: noen;
  border: none;
  margin-top: 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-transform: capitalize;
  color: #2b2b2b;
}
#signIN form .btn-singIn-google img {
  margin-right: 10px;
}
#signIN .createOrNewAccount {
}
#signIN .createOrNewAccount p {
  margin-top: 35px;
  text-align: center;
}
#signIN .createOrNewAccount p span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  color: #6a6a6a;
  margin-top: 70px;
}

/* ..............
sign in page end 
.................*/

/* ---------------
 sign Up page start 
 ------------------*/

#signUp {
  height: 100vh;
  position: relative;
  padding: 23px;
  background: #fff;
}
#signUp .backFromSignUpPage {
  margin-top: 0px;
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
}
#signUp .backFromSignUpPage i {
  outline: none;
}
#signUp .regiText h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #2b2b2b;
  margin-top: 7px;
  margin-left: 31px;
}
#signUp .regiText p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  text-transform: capitalize;
  color: #707b81;
}
#signUp form {
}

#signUp form div {
}
#signUp form div label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 4px;
  /* identical to box height, or 125% */
  color: #2b2b2b;
}
#signUp form div label input {
}
#signUp form div label input {
  width: 100%;
  margin: 20px 0px;
  padding: 9px 57px 16px 10px;
  background: #f7f7f9;
  border-radius: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-transform: lowercase;
  color: #6a6a6a;
  opacity: 0.6;
  outline: none;
  border: none;
}
#signUp form .btn-singUp {
  background: #0d6efd;
  border-radius: 14px;
  width: 100%;
  padding: 6px;
  border: none;
  color: white;
}
#signUp form .btn-singUp-google {
  background: #f7f7f9;
  border-radius: 14px;
  width: 100%;
  padding: 12px;
  border: noen;
  border: none;
  margin-top: 7px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  /* identical to box height, or 157% */
  text-transform: capitalize;
  color: #2b2b2b;
}
#signUp form .btn-singUp-google img {
  margin-right: 10px;
}
#signUp .haveAccountOrLogin {
  margin-top: -44px;
}
#signUp .haveAccountOrLogin p {
  margin-top: 50px;
  text-align: center;
}
#signUp .haveAccountOrLogin p span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  color: #6a6a6a;
  margin-top: 70px;
}

/*  ............
sign Up page end
................ */

/* ---------------
 Forgot page start 
 ------------------*/

#Forgot {
  height: 100vh;
  position: relative;
  padding: 23px;
  background: #fff;
}
#Forgot .backFromForgotPage {
  margin-top: 0px;
  border: none;
  padding: 10px 10px;
  border-radius: 50%;
}
#Forgot .backFromForgotPage i {
  outline: none;
}
#Forgot .ForgotText h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #2b2b2b;
  margin-top: 37px;
}
#Forgot .ForgotText p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  text-transform: capitalize;
  color: #707b81;
}
#Forgot form {
}

#Forgot form div {
}

#Forgot form div input {
}
#Forgot form div input {
  width: 100%;
  margin: 20px 0px;
  padding: 16px 57px 16px 14px;
  background: #f7f7f9;
  border-radius: 14px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  text-transform: lowercase;
  color: #6a6a6a;
  opacity: 0.6;
  outline: none;
  border: none;
}
#Forgot form .btn-ResetPasswordForgot {
  background: #0d6efd;
  border-radius: 14px;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  z-index: -1;
}

#Forgot .visibleForRestBtnClick {
  background: #e1b7b7;
  border-radius: 16px;
  padding: 4px;
  margin-top: -74px;
  position: relative;
  z-index: 99;
  display: block !important;
}
#Forgot .visibleForRestBtnClick img {
  /* color: green; */
  background: #0d6efd;
  padding: 10px;
  border-radius: 50%; /* text-align: center; */
  display: block;
  margin: 15px auto;
}
#Forgot .visibleForRestBtnClick h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  text-align: center;
  text-transform: capitalize;
  color: #2b2b2b;
}
#Forgot .visibleForRestBtnClick p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: capitalize;
  color: #707b81;
}
#Forgot .ResetPasswrodAlertBox {
  display: none;
}

/*  ............
Forgot page end
................ */

/* ---------------
OTP Verification for Reset Password page start 
 ------------------*/

#Otp_verify_Reset_Password {
  height: 100vh;
  position: relative;
  padding: 23px;
  background: #fff;
}
#Otp_verify_Reset_Password .back_From_Verify_Reset_Password_Page {
  margin-top: 0px;
  border: none;
  padding: 11px;
  border-radius: 50%;
}
#Otp_verify_Reset_Password .back_From_Verify_Reset_Password_Page i {
  outline: none;
}
#Otp_verify_Reset_Password .Otp_verify_Text h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  color: #2b2b2b;
  margin-top: 47px;
}
#Otp_verify_Reset_Password .Otp_verify_Text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  text-transform: capitalize;
  color: #707b81;
}
#Otp_verify_Reset_Password form {
}

#Otp_verify_Reset_Password form div {
}
#Otp_verify_Reset_Password form div label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  color: #2b2b2b;
}

#Otp_verify_Reset_Password form div p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */ /* text-align: center; */
  text-transform: capitalize;
  color: #2b2b2b;
}
#Otp_verify_Reset_Password form div .verification_code_box {
  display: flex;
  justify-content: space-between;
}
#Otp_verify_Reset_Password form div .verification_code_box .box-item {
  width: 50px;
  background: #d1d2d4;
  padding: 10px 20px;
  gap: 12;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
}
#Otp_verify_Reset_Password .btn_Verify {
  background: #0d6efd;
  border-radius: 14px;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
}
#Otp_verify_Reset_Password form .resend_code {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#Otp_verify_Reset_Password form .resend_code p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* Light/Sub Text Color */
  color: #7d848d;
}

/*  ............
OTP Verification for Reset Password page end
................ */

/* --------------------
 Home page start 
 ---------------------- */
#Home {
  /* padding: 16px; */
  background: #f7f7f9;
  /* height: 100vh; */
  position: relative;
  /* overflow: hidden; */
}
#Home button {
  border: none;
  background-color: transparent;
  /* text-align: right; */
}
#Home .wapper {
  padding: 15px;
  overflow: hidden;
}
/* home header start */
#Home .wapper .Home_header {
  display: flex;
  justify-content: space-between;
}
#Home .wapper .Home_header .icon_ber {
}
#Home .wapper .Home_header .icon_ber i {
  font-size: 25px;
}
#Home .wapper .Home_header .Explore_header_Text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  /* #2B2B2B */
  color: #2b2b2b;
}
#Home .wapper .Home_header .shop_icon {
}
#Home .wapper .Home_header .shop_icon i {
  font-size: 25px;
}
/* home header end */

/* Home_search start */
#Home .wapper .Home_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  position: relative;
}
#Home .wapper .Home_search .input {
  /* display: flex; */
  width: 80%;
}
#Home .wapper .Home_search .input input {
  width: 100%;
  border-radius: 30px;
  outline: none;
  font-size: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 14px;
  magin-top: 20px;
  /* margin-top: 9px; */
  /* padding-left: 40px; */
  padding: 5px;
  padding-left: 40px;
}
#Home .wapper .Home_search .input .search_icon {
}
#Home .wapper .Home_search .input .search_icon i {
  /* margin-top: -38px; */
  position: absolute;
  top: 18px;
  left: 16px;
}
#Home .wapper .Home_search .tools {
}
#Home .wapper .Home_search .tools img {
  width: 79%;
}
/* Home_search end */

/* category start */
#Home .wapper .category {
}
#Home .wapper .category h2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* #2B2B2B */
  color: #2b2b2b;
}
#Home .wapper .category .carousel {
  margin-top: 14px;
}
#Home .wapper .category .carousel .owl-carousel {
  /* padding: 10px; */
}
#Home .wapper .category .carousel .owl-carousel .item {
}
#Home .wapper .category .carousel .owl-carousel .item h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1px;

  /* #2B2B2B */
  color: #040404;
  padding: 10px 0px;
  cursor: pointer;
}
/* category end */

/* Popular_Shoes start  */
#Home .wapper .Popular_Shoes {
}
#Home .wapper .Popular_Shoes .Popular_Shoes_text {
  display: flex;
  justify-content: space-between;
}
#Home .wapper .Popular_Shoes .Popular_Shoes_text h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* #2B2B2B */
  color: #2b2b2b;
}
#Home .wapper .Popular_Shoes .Popular_Shoes_text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  text-align: right;

  /* #0D6EFD */
  color: #0d6efd;
}
#Home .wapper .Popular_Shoes .cards-group {
  display: flex;
  justify-content: space-between;
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card {
  width: 48%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 15px;
  padding: 10px;
  padding-bottom: 6px;
  position: relative;
  overflow: hidden;
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card:hover {
  box-shadow: 5px 5px #ff0000c2;
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card .heart {
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card .heart i {
  /* border: none; */ /* outline: none; */
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card .Card_img {
  margin-top: -26px;
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card .p1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 0px;
  /* identical to box height, or 133% */
  text-transform: uppercase;

  /* #0D6EFD */
  color: #0d6efd;
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card .p2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 7px;
  /* identical to box height, or 125% */

  /* #6A6A6A */
  color: #6a6a6a;
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card .p3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 7px;
  /* identical to box height, or 114% */

  /* #2B2B2B */
  color: #2b2b2b;
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card .Add_To_Card {
  margin: 0 0 0 auto;
  background: #0d6efd;
  padding: 5px 10px;
  position: absolute;
  bottom: -3px;
  font-size: 25px;
  right: -2px;
  color: white;
  font-weight: 900;
  border-radius: 30px 0px 0px 0px;
}
#Home .wapper .Popular_Shoes .cards-group .Popular_Shoes_card .Add_To_Card i {
}
/* Popular_Shoes end  */

/* New_Arrivals start  */
#Home .wapper .New_Arrivals {
}
#Home .wapper .New_Arrivals .New_Arrivals_text {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#Home .wapper .New_Arrivals .New_Arrivals_text h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* #2B2B2B */
  color: #2b2b2b;
}
#Home .wapper .New_Arrivals .New_Arrivals_text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  text-align: right;

  /* #0D6EFD */
  color: #0d6efd;
}
#Home .wapper .New_Arrivals .New_Arrivals_card {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px 5px;
  border-radius: 16px;
  margin: 10px 0px;
}
#Home .wapper .New_Arrivals .New_Arrivals_card .details {
  display: flex;
  flex-direction: column; /* align-items: center; */
  justify-content: center;
}
#Home .wapper .New_Arrivals .New_Arrivals_card .details p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: #3b3b3b;
}
#Home .wapper .New_Arrivals .New_Arrivals_card .details h2 {
  font-family: "Futura";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 37px;
  /* identical to box height, or 102% */
  letter-spacing: -0.02em;
  color: #674dc5;
}
#Home .wapper .New_Arrivals .New_Arrivals_card .img_section {
  margin-right: 30px;
}
#Home .wapper .New_Arrivals .New_Arrivals_card .img_section .new {
}
#Home .wapper .New_Arrivals .New_Arrivals_card .img_section .new img {
  /* margin-right: 92px; */
}
#Home .wapper .New_Arrivals .New_Arrivals_card .img_section .shoes {
}
#Home .wapper .New_Arrivals .New_Arrivals_card .img_section .shoes img {
  /* height: 79px; */
}
/* New_Arrivals end  */

/* home footer start */
#Home .wapper .home_footer {
  /* display: flex; */
  margin-top: 20px;
  /* background: red; */
  box-shadow: 3.5px 0px 22px rgb(131 170 209 / 12%);
}
#Home .wapper .home_footer .home_footer_container {
  display: flex;
  align-items: center;
  font-size: 18px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#Home .wapper .home_footer .home_footer_container div {
  /* display: flex; */
  width: 42%;
  text-align: center;
}
#Home .wapper .home_footer .home_footer_container .home_icon {
  cursor: pointer;
}
#Home .wapper .home_footer .home_footer_container .home_icon i {
}
#Home .wapper .home_footer .home_footer_container .Love_icon {
  cursor: pointer;
}
#Home .wapper .home_footer .home_footer_container .Love_icon i {
}
#Home .wapper .home_footer .home_footer_container .shop_img_footer {
}
#Home .wapper .home_footer .home_footer_container .shop_img_footer img {
  display: block;
  height: 94px;
  cursor: pointer;
  /* margin-top: -32px; */
}
#Home .wapper .home_footer .home_footer_container .Notification_icon {
  cursor: pointer;
}
#Home .wapper .home_footer .home_footer_container .Notification_icon i {
}
#Home .wapper .home_footer .home_footer_container .User_icon {
  cursor: pointer;
}
#Home .wapper .home_footer .home_footer_container .User_icon i {
}
/* home footer end */

/* ..............
 Home page end   
 ................. */
